.color-info {
	border: 3px solid black;
}

#about_blue {
	background: #6495ED;
}

#about_yellow {
	background: #FFEBCD;
}

#about_blue li {
	color: blue;
}

#about_yellow li {
	color: orange;
}

.important {
	font-size: 16px;
	font-weight: bold;
}

.nav a {
	background: red;
	color: white;
}